*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.row1{
    display: flex;
    justify-content: space-evenly;
}
.container{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(84, 76, 76, 0.924);
}


.dob{
    margin-left: 300px;
}

.top{
    padding: 15px;
    background-color: #2f6fa7;
}
.top a{
    text-decoration: none;
    color: white;
}

.reg-text{
    background-color: #f6f5f5;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.headtext{
    background-color: #4184bf;
    color: white;
    padding: 5px;
}
.section{
    margin-bottom: 25px;
}
.row-group{
    display: flex;
    gap: 15px;
    margin-left: 5px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.field{
    flex: 1;
}

.container2{
    display: flex;
    margin-top: 20px;
    line-height: 160%;
}


.secon{
    /* margin-top: 50px; */
    margin-left: 700px;
}

input{
    height: 20px;
}

.field2{
    display: flex;
}

.third{
    display: flex;
    justify-content: space-around;
}

.text2{
    height: 10%;
}
.container4{
    display: flex;
}

.checkboxes{
    line-height: 150%;
    margin-left: 50px;
} 

.field-end{
    margin-left: 420px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1;
    border-top: 1px solid #d8cbcbe7;
}

.container-end{
    width: 45%;
    height: 250px;
    border: 1px solid #4184bf;
    border-radius: 4px;
}
.lng-title{
    width: 98.2%;
    background-color: #4184bf;
    border: 1px solid #4184bf;
    color: white;
    padding: 5px;
}

.lng-title h4{
    display: flex;
    margin-left: 10px;
}

.label-main{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
}

.lang-group{
    margin-top: 25px;
    margin-left: 115px;
    height:fit-content;
    width: fit-content;
}

#cb-row1{
    margin-left: 90px;
}